<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="org.everythingjboss.jdg.pojos">
    <resources>
        <resource-root path="person-pojo.jar" />
    </resources>
    <dependencies>
            <module name="org.infinispan.client.hotrod" slot="jdg-6.4" optional="true" export="true" />
            <module name="org.infinispan.protostream" slot="jdg-6.4" export="true" />
    </dependencies>
</module>
